* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input {
  width: 70%;
  height: 35px;
}

.input_email {
  margin: 10px;
  padding: 10px;
  border: 1px solid gray;
  border-radius: 8px;
}
.input_submit {
  color: white;
  background-color: #1976D2;
  margin: 8px;
  border: 0px;
  border-radius: 8px;
}
.email_form {
}

.para {
  margin-top: 70px;
}
.description {
  margin-left: 50px;
}
.suggestion {
  margin-top: 70px;
}